<div class="chart-wrapper">
  <!-- <div class="chart-container">
    <h3>📚 Books per Category</h3>
    <div class="card">
      <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
  </div> -->

  <div class="chart-container">
    <h3>📊 Borrowed Book Trends</h3>
    <div class="card">
      <p-chart
        type="bar"
        [data]="borrowedData"
        [options]="borrowedOptions"
        style="height: 100%; width: 100%"
      ></p-chart>
    </div>
  </div>
</div>
