<!-- <h1>BOOK LIBRARY MANAGEMENT</h1>
<div class="layout">
  <p-menubar class="top-navbar">
      <span class="app-title">📚 BOOK LIBRARY MANAGEMENT</span>
  </p-menubar>

  <div class="main-container">
    <div class="sidebar">
      <p-panelMenu [model]="menuItems" styleClass="sidebar"></p-panelMenu>
    </div>

    <div class="main-content">
      <h2>Dashboard</h2>
      <p>Welcome to the Library App Dashboard!</p>
      <router-outlet />
    </div>
  </div>
</div> -->

<h1>📚 BOOK LIBRARY MANAGEMENT</h1>
<!-- <p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <span class="app-title">📚 BOOK LIBRARY MANAGEMENT</span>
  </ng-template>
  <ng-template pTemplate="end">
   <app-category-selector/>
  </ng-template>
</p-menubar>

<div class="main-container">
  <router-outlet></router-outlet>
</div> -->
