<p-table [value]="(books$ | async) || []" [scrollable]="true" scrollHeight="550px" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Book Name </th>
            <th>Author</th>
            <th>Year</th>
            <th>Quantity</th>
            <!-- <th>Price</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
        <tr>
            
            <td>{{ book.title }}</td>
            <td>{{ book.author_name[0] }}</td>
            <td>{{ book.first_publish_year }}</td>
            <td>{{ book.q }}</td>
        </tr>
    </ng-template>
</p-table>