<!-- <p-dropdown [options]="categories" placeholder="Select a category"></p-dropdown> -->
<div>
  <h2>Select Category:</h2>

  <p-dropdown
    [options]="categories"
    [(ngModel)]="selectedCategory"
    placeholder="Select a category"
    optionLabel="label"
    optionValue="value"
    (onChange)="onCategoryChange($event)"
  >
  </p-dropdown>

  <div class="chart-container">
    <app-cat-chart></app-cat-chart>
  </div>
</div>

<!-- <p>Selected Category: {{ selectedCategory }}</p> -->

<!-- <app-cat-chart></app-cat-chart> -->
