<!-- <p-dialog header="Add Book">
    <input type="text" [(ngModel)]="book.title" placeholder="Title" />
    <input type="text" [(ngModel)]="book.author_name" placeholder="Author" />
    <button (click)="onSave()">Save</button>
  </p-dialog> -->


<p-dialog header="Add Book" [modal]="true" [(visible)]="displayDialog" [style]="{ width: '25rem' }">
    <form [formGroup]="bookForm" (ngSubmit)="onSave()">
        <div class="p-fluid">
            <div class="flex items-center gap-4 mb-4">
              <label for="title" class="font-semibold w-24">Title</label>
              <input pInputText id="title" type="text" pInputText formControlName="title"  />
            </div>
            <!-- <div class="p-field">
                <label for="title">Sub-Title</label>
                <input id="sub_title" type="text" pInputText formControlName="sub_title" />
              </div> -->
            <div class="p-field">
              <label for="author_name">Author Name</label>
              <input id="author_name" type="text" pInputText formControlName="author_name" />
            </div>
            <div class="p-field">
              <label for="first_publish_year">Year</label>
              <input id="first_publish_year" type="text" pInputText formControlName="first_publish_year" />
            </div>
            <div class="p-field">
              <label for="author_key">Author Key</label>
              <input id="author_key" type="text" pInputText formControlName="author_key" />
            </div>
            <div class="p-field">
              <label for="inventoryStatus">Inventory Status</label>
              <p-dropdown 
                id="inventoryStatus" 
                formControlName="inventoryStatus" 
                [options]="inventoryOptions" 
                optionLabel="label"
                optionValue="value"
                placeholder="Select Status">
              </p-dropdown>
            </div>
          </div>
      
          <div class="p-d-flex p-jc-end">
            <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="onCancel()"></button>
            <button pButton type="submit" label="Save" class="p-ml-2"></button>
          </div>
</form>
</p-dialog>


<p-dialog
  header="Edit Book"
  [modal]="true"
  [(visible)]="editDialog"
  [style]="{ width: '25rem' }"
  [closable]="true"
>
  <form [formGroup]="bookForm" (ngSubmit)="oneditSave()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="title">Title</label>
        <input id="title" type="text" pInputText formControlName="title" />
      </div>
      <div class="p-field">
        <label for="author_name">Author Name</label>
        <input id="author_name" type="text" pInputText formControlName="author_name" />
      </div>
      <div class="p-field">
        <label for="first_publish_year">Year</label>
        <input
          id="first_publish_year"
          type="text"
          pInputText
          formControlName="first_publish_year"
        />
      </div>
      <div class="p-field">
        <label for="author_key">Author Key</label>
        <input id="author_key" type="text" pInputText formControlName="author_key" />
      </div>
      <div class="p-field">
        <label for="inventoryStatus">Inventory Status</label>
        <p-dropdown
          id="inventoryStatus"
          formControlName="inventoryStatus"
          [options]="[
            { label: 'Available', value: 'available' },
            { label: 'Checked Out', value: 'Checked Out' }
          ]"
          optionLabel="label"
          placeholder="Select Status"
        ></p-dropdown>
      </div>
    </div>

    <div class="p-d-flex p-jc-end">
      <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="onCancel()"></button>
      <button pButton type="submit" label="Save" class="p-ml-2"></button>
    </div>
  </form>
</p-dialog>
