<p-dialog
  header="{{ editDialog ? 'Edit Book' : 'Add Book' }}"
  [modal]="true"
  [closable]="true"
  [(visible)]="visible"
  [style]="{ width: '30rem' }"
  [dismissableMask]="true"
  (onHide)="onCancel()"
>
  <form
    [formGroup]="bookForm"
    (ngSubmit)="editDialog ? oneditSave() : onSave()"
  >
    <span class="p-text-secondary block mb-4">
      {{
        editDialog ? "Update book details" : "Enter book details below"
      }}</span
    >

    <div class="p-fluid">
      <div class="p-grid p-align-center p-mb-3">
        <div class="p-col-4 p-text-right">
          <label for="title" class="p-text-bold">Title</label>
        </div>
        <div class="p-col-8">
          <input
            id="title"
            type="text"
            pInputText
            formControlName="title"
            class="w-full"
          />
        </div>
      </div>

      <div class="p-grid p-align-center p-mb-3">
        <div class="p-col-4 p-text-right">
          <label for="subtitle" class="p-text-bold">Sub-Title</label>
        </div>
        <div class="p-col-8">
          <input
            id="subtitle"
            type="text"
            pInputText
            formControlName="subtitle"
            class="w-full"
          />
        </div>
      </div>

      <div class="p-grid p-align-center p-mb-3">
        <div class="p-col-4 p-text-right">
          <label for="author_name" class="p-text-bold">Author Name</label>
        </div>
        <div class="p-col-8">
          <input
            id="author_name"
            type="text"
            pInputText
            formControlName="author_name"
            class="w-full"
          />
        </div>
      </div>

      <div class="p-grid p-align-center p-mb-3">
        <div class="p-col-4 p-text-right">
          <label for="first_publish_year" class="p-text-bold">Year</label>
        </div>
        <div class="p-col-8">
          <input
            id="first_publish_year"
            type="number"
            pInputText
            formControlName="first_publish_year"
            class="w-full"
          />
        </div>
      </div>

      <div class="p-grid p-align-center p-mb-3">
        <div class="p-col-4 p-text-right">
          <label for="author_key" class="p-text-bold">Author Key</label>
        </div>
        <div class="p-col-8">
          <input
            id="author_key"
            type="text"
            pInputText
            formControlName="author_key"
            class="w-full"
          />
        </div>
      </div>

      <div class="p-grid p-align-center p-mb-3">
        <div class="p-col-4 p-text-right">
          <label for="inventoryStatus" class="p-text-bold"
            >Inventory Status</label
          >
        </div>
        <div class="p-col-8">
          <p-dropdown
            id="inventoryStatus"
            formControlName="inventoryStatus"
            [options]="inventoryOptions"
            optionLabel="label"
            optionValue="value"
            placeholder="Select Status"
            class="w-full"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <!-- Buttons Section -->
    <div class="button-container">
      <button
        pButton
        type="button"
        label="Cancel"
        class="p-button-outlined p-button-secondary"
        (click)="onCancel()"
      ></button>
      <button
        pButton
        type="submit"
        [label]="editDialog ? 'Save' : 'Add'"
        class="p-button p-ml-2"
      ></button>
    </div>
  </form>
</p-dialog>
