<p-dialog
  header="{{ editDialog ? 'Edit Book' : 'Add Book' }}"
  [modal]="true"
  [closable]="true"
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
  [dismissableMask]="true"
  (onHide)="onCancel()"
>
  <form [formGroup]="bookForm" (ngSubmit)="onSave()" class="book-form">
    <span class="p-text-secondary block form-subtitle">
      {{ editDialog ? "Update book details" : "Enter book details below" }}
    </span>

    <div class="form-container">
      <div class="field">
        <p-floatlabel>
          <input
            id="title"
            type="text"
            pInputText
            formControlName="title"
            class="input-field"
            required
          />
          <label for="title">Title</label>
        </p-floatlabel>
      </div>

      <div class="field">
        <p-floatLabel>
          <input
            id="author_name"
            type="text"
            pInputText
            formControlName="author_name"
            class="input-field"
            required
          />
          <label for="author_name">Author Name</label>
        </p-floatLabel>
      </div>

      <div class="field">
        <p-floatLabel>
          <input
            id="first_publish_year"
            type="number"
            pInputText
            formControlName="first_publish_year"
            class="input-field"
            required
          />
          <label for="first_publish_year">Year</label>
        </p-floatLabel>
      </div>

      <div class="field">
        <p-floatLabel>
          <input
            id="author_key"
            type="text"
            pInputText
            formControlName="author_key"
            class="input-field"
            required
          />
          <label for="author_key">Author Key</label>
        </p-floatLabel>
      </div>

      <div class="field">
        <p-floatLabel>
          <p-dropdown
            id="inventoryStatus"
            formControlName="inventoryStatus"
            [options]="inventoryOptions"
            optionLabel="label"
            optionValue="value"
            class="dropdown-field"
          ></p-dropdown>
          <!-- <label for="inventoryStatus">Inventory Status</label> -->
        </p-floatLabel>
      </div>
    </div>

    <!-- Buttons Section -->
    <div class="button-container">
      <button
        pButton
        type="button"
        label="Cancel"
        class="p-button-outlined p-button-secondary"
        (click)="onCancel()"
      ></button>
      <button
        pButton
        type="submit"
        [label]="editDialog ? 'Save' : 'Add'"
        class="p-button p-ml-2 save-button"
        [disabled]="bookForm.invalid"
      ></button>
    </div>
  </form>
</p-dialog>
