@import "primeicons/primeicons.css";

html,body{
    overflow-y:hidden;
}
/* @media(max-width: 700px){
    html,body{
        overflow-y:auto;
        overflow-x:auto;
    }

} */


:root {
    --font-family: 'Roboto', sans-serif !important;
  }
  
  body, p, button, input, select, textarea, .p-component {
    font-family: var(--font-family) !important;
  }
  